.apl-multiselect {

  ul {
    display: none;
    list-style: none;


    li {
      padding: 3px;

      & > span {
        margin-left: 14px;
      }
      & > i {
        color: green;
        margin-right: -14px;
      }
    }



    &.open {
      display: block;
    }

    ul {
      li {
        & > span {
          margin-left: 18px;
        }
        & > i {
          margin-right: -18px;
        }
      }
    }

  }
}
