<div class="apl-multiselect dropdown">
  <button class="btn btn-default dropdown-toggle"
          type="button"
          (click)="toggleSelect()"
          aria-haspopup="true"
          aria-expanded="true">
    {{selected.length > 0 ? 'Selected: ' + selected.length : emptySelectText }}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-form"
      [ngClass]="{'open': isOpen}">
    <li *ngFor="let item of items">
      <i class="fa fa-check" aria-hidden="true" *ngIf="isItemChecked(item)"></i>
      <span (click)="onItemClick(item)">{{item.name}}</span>
      <span (click)="toggleChild(item)"
            *ngIf="item.child && item.child.length > 0">
        <i class="fa fa-folder-open-o" aria-hidden="true" *ngIf="isChildOpen(item)"></i>
        <i class="fa fa-folder-o" aria-hidden="true" *ngIf="!isChildOpen(item)"></i>
      </span>
      <ul *ngIf="item.child && item.child.length > 0"
          [ngClass]="{'open': isChildOpen(item)}">
        <li *ngFor="let subItem of item.child">
          <i class="fa fa-check" aria-hidden="true" *ngIf="isItemChecked(subItem)"></i>
          <span (click)="onItemClick(subItem)">
            {{subItem.name}}
          </span>
        </li>
      </ul>
    </li>
  </ul>
</div>
